.form-select{
    background-color: #100324;
    color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
.form-select:disabled{
    background-color: #100324;
    color: #6c757d;
    border-color: #6c757d;
}
.year {
    font-size: 2em;
}
.month {
    margin-bottom: 1.5em;
}
.jumpTo {
    margin-bottom: 4em;
}
.form-label {
    display: none;
}
.daysRow {
    margin-bottom: 2em;
}
.dateName {
    margin-bottom: 2em;
}
.cardLabel {
    text-align: center;
}
.day {
    max-width:200px;
}
.day img:hover {
    opacity: .4;
}
.cardImage {
   max-width: 200px;
}
.imgCol {
    max-width: 220px;
}
#toTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
  }
  

@media (max-width: 720px) {
    .form-select {
        margin-bottom: 1em;
    }
    .imgCol {
        max-width: 170px;
    }
    .cardImage {
        max-width: 120px; 
    }
  }
