#cardName, #cardEmoji, #cardArt, #keywords, #description, #cardContent {
  display: none;
}
.btn-draw {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  margin-bottom: 0.5em;
}
p {
  margin-bottom: 2em;
}

img {
  margin-bottom: 1em;
}

#cardBack {
  margin-top: 2em;
  width: 300px;
}
@media (max-width: 767px) {
  #cardBack {
    height: 20em;
  }
}
